@page "/booking"
@using Restaurant_Models.Entities

<p class="text-center text-primary shadow-lg p-2 mb-2 bg-light-subtle rounded fs-1"
   style="font-family: 'Arial, sans-serif'; font-weight: bold; letter-spacing: 1px;">
    List Of All Bookings
</p>



@if (BookingModels == null)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            
        </div>
    </div>
}
else
{
    <a class="btn btn-primary btn-lg  float-end" href="/booking/create">Create</a>
    <table class="table table-striped">
        <thead>
            <tr>
                @* <th>Table ID</th> *@
                <th>Table Property's'</th>
                <th>CustomerName</th>
                <th>ContactNumber</th>
                <th>Date</th>
                <th>Time From</th>
                <th>Time To</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in BookingModels)
            {
                <tr>
                    @* <td>@booking.TableId</td> *@
                    <td>
                        @if (TableModels != null)
                        {
                            var table = TableModels.FirstOrDefault(t => t.Id == booking.TableId);
                            if (table != null)
                            {
                                <div>
                                    <span>Table Tag: @table.TableTag</span><br />
                                    <span>Capacity: @table.Capacity</span> <!-- Assuming 'Capacity' is another property of Table -->
                                </div>
                            }
                            else
                            {
                                <span>No table found</span>
                            }
                        }
                    </td>
                    <td>@booking.CustomerName</td>
                    <td>@booking.CustomerPhone</td>
                    <td>@booking.BookingDate.ToString("dd-MM-yyyy")</td>
                    <td>@DateTime.Parse(booking.TimeFrom).ToString("HH:mm")</td>
                    <td>@DateTime.Parse(booking.TimeTo).ToString("HH:mm")</td>


                    <td>
                        <a class="btn btn-warning" href="/booking/update/@booking.TableId">Edit</a>
                        <button class="btn btn-dark" @onclick="() => {DeleteId = booking.TableId; Model.Open();}">Cancel</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>



}
<AppModel @ref="Model">
    <Title>Notification</Title>
    <Body>
        Do you sure want to Cancel this booking?
    </Body>
    <Footer>
        <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="Model" style="width:80px" @onclick="() => Model.Close()">Cancel</button>
    </Footer>
</AppModel>
