@page "/bindProp"
@using BlazorApp1.Model;

<div class="bg-light">
	<h1> Room Information </h1>
	<hr>
	<h3> Room Id : @room.Id</h3>
	<h3> Room Name : @room.RoomName</h3>
	<h3>Room Status : @(room.isActive ? "Room Is Active" : "Room Is Not Active") </h3>
	@* this is one way data binding *@
	<h3>Room Price : @room.Price</h3>
	<h4>The Room Property Selected Is : @selectedRoomProp</h4>

	<hr>
	@* using two way data binding *@
	<input type="number" @bind-value="@room.Price" @bind-value:event="oninput" />
	<br>
	<input type="checkbox" @bind-value="@room.isActive" checked="@(room.isActive ? "checked" : null)"
		name="room-active" />
	<label for="room-active">Room Is Active</label>
	<br>

	<label for="selectProp">Room Property's : </label>
	<select name="selectProp" @bind="selectedRoomProp">
		@foreach (var prop in room.RoomProps)
		{
			<option value="@prop.Name">@prop.Name</option>
		}

	</select>
</div>

<div>

	<table class="table">
		@foreach (var room in RoomList)
		{
			<tr>
				<td>
					<input type="text" @bind-value="room.RoomName" @bind-value:event="oninput" />
				</td>
				<td>
					<input type="text" @bind-value="room.Price" @bind-value:event="oninput" />
				</td>

				@foreach (var roomProp in room.RoomProps)
				{
					<td>
					<td>@roomProp.Name - @roomProp.Value</td>
					</td>
				}
			</tr>
		}
	</table>
	<hr>
	@foreach (var room in RoomList)

	{
		<p> @room.RoomName's Price Is <em> @room.Price </em> </p>
	}
</div>

@code {

	string selectedRoomProp = "";

	List<BlazorRoom> RoomList = new List<BlazorRoom>();
	BlazorRoom room = new BlazorRoom()
		{
			Id = 1,
			RoomName = "MyVilla",
			isActive = true,
			Price = 500,
			RoomProps = new List<Model.BlazorRoomProp>
{
new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="3"},
}
		};

	protected override void OnInitialized()
	{
		base.OnInitialized();

		RoomList.Add(new BlazorRoom()
			{
				Id = 1,
				RoomName = "MyVilla",
				isActive = true,
				Price = 500,
				RoomProps = new List<Model.BlazorRoomProp>
{
new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="100"},
new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="3"},
}
			});

		RoomList.Add(new BlazorRoom()
			{
				Id = 2,
				RoomName = "3BHK With Swimming Pool",
				isActive = true,
				Price = 900,
				RoomProps = new List<Model.BlazorRoomProp>
{
new Model.BlazorRoomProp{Id=1,Name="Sq Ft",Value="300"},
new Model.BlazorRoomProp{Id=2,Name="Occupancy",Value="9"},
}
			});
	}
}
